h1 {
    color:red;
    text-align: center;
}

h2 {
    color:blue;
    text-align:right
}

.orange-text {
    color:orange;
    text-align: center
}

#A-little-different {
    color:purple
}

#A-little-different {
    text-align: right;
}

p {
    text-align: center;
}